<?xml version="1.0" encoding="utf-8"?>
<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Senior_Proj_Fall_2015.Veterans_App_Employment">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="true">

        <!-- Splash screen -->
        <activity
            android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.LoadScreen"
            android:label="Veterans_App_Employment"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Start Page activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.StartPage"/>

        <!-- Login Screen activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.Login"/>

        <!-- Sign Up activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.SignUpPage"/>

        <!-- Job List View activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.JobOpportunityListPage"/>

        <!-- User Profile Creation activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.UserProfileCreationPage"/>

        <!-- Menu activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.MenuPage"/>

        <!-- Resources activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.ResourcesPage"/>

        <!-- Job Profile Page activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.JobOpportunityProfilePage"/>

        <!-- Employer List activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.EmployerListPage"/>

        <!-- Employer Profile Creation activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.EmployerProfileCreationPage"/>

        <!-- Employer Profile Page activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.EmployerProfilePage"/>

        <!-- Job Applicants by Employer activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.JobApplicantsByEmployerListPage"/>

        <!-- Job List by Employer activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.JobOpportunityListByEmployerPage"/>

        <!-- Job Profile Creation activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.JobOpportunityProfileCreationPage"/>

        <!-- User List Page activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.UserListPage"/>

        <!-- User Profile activity -->
        <activity android:name="com.Senior_Proj_Fall_2015.Veterans_App_Employment.UserProfilePage"/>


    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

</manifest>